body{
    background: rgb(196, 196, 196)
}
#banner{
    width: 100%;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
  }
#fonte28 {
    font-size: 28
}
strong {
    color: rebeccapurple;
}
ul{
    font-size: 20;
    border: 5px solid rebeccapurple;
    width: 296;
    padding-left: 60;
}
