body{
    background: rgb(189, 186, 186)
}

#banner{
    width: 100%;
}

.principal {
    padding: 30px
}

.cabeçalho {
    padding-left: 30px;
    font-style: italic;
}

.centralizado {
    text-align: center;
}

p {
    text-align: center;
  }

#fonte28 {
    font-size: 28
}

strong {
    color: rebeccapurple;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: whitesmoke;
    padding: 20px;
}

#h3 {
    font-size: 30
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.benef_img{
    width: 50%;
}